h2 {
    color: #008000 !important;

}
.navbar-default {
            background-color: #128012 !important;
        }

.navbar-default .navbar-brand {
           color: #ffffff !important;
        }
.navbar-default .navbar-nav > li > a
        {
           color: #ffffff !important;
        }
.navbar-default .navbar-nav >  li > a >.dropdown-menu
  {
           color: #ffa500 !important;
        }
.navbar-default .navbar-nav .dropdown > li > a
  {
           color: #ffa500 !important;
        }
body {
    background: #ffa500 url("images/library.png") no-repeat;
    background-size: 2500px
}
